body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #000000, #161616);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  background: transparent;
  padding: 20px ;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-button {
  position: absolute;
  left: 50px;
  top: 10%;
  width: 100px;
  height: 100px;
  transform: translateY(-50%);
  padding: 8px;
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-button:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 12px rgba(0, 123, 255, 0.5);
  transform: translateY(-50%) scale(1.05);
}

.reset-button img {
  width: 100px;
  height: 100px;
  display: block;
  filter: brightness(0) saturate(100%) invert(42%) sepia(93%) saturate(4977%) hue-rotate(201deg) brightness(101%) contrast(101%);
}

.app-container {
  width: 650px;
  padding: 40px;
  border-radius: 18px;
  background: rgba(30, 30, 30, 0.95);
  box-shadow: 0 0 35px rgba(0, 123, 255, 0.25);
  text-align: center;
  border: 1px solid rgba(0, 123, 255, 0.25);
}

h1 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 25px;
  color: #007bff;
  letter-spacing: 0.5px;
}

input {
  padding: 12px;
  width: 220px;
  border: 1px solid #646363;
  border-radius: 6px;
  margin-right: 12px;
  background: #222;
  color: white;
  font-size: 16px;
  caret-color: auto;
}

input::placeholder {
  color: #858484
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.25s;
  font-weight: bold;
  font-size: 16px;
  margin-left: 5px;
}

button:hover {
  background: #0056b3;
  box-shadow: 0 0 12px #007bff;
  transform: scale(1.03);
}

.generated-box {
  margin-top: 25px;
  padding: 18px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 16px;
}

@media (prefers-color-scheme: light) {
  body {
    background: linear-gradient(135deg, #f5f5f5, #ffffff);
    color: #213547;
  }
  .app-container {
    background-color: #ebebeb;
    box-shadow: #000000;
    border: 1px solid rgba(99, 99, 99, 0.25)
  }
  input {
    background-color: #808080;
    caret-color: #ffffff;
  }
  input::placeholder {
    color: #dfdddd;
  }
  .reset-button {
    background: #f5f5f5;
    border-color: #f5f5f5;
  }

}