#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1em;
  color: #ffffff;
}

.container {
  display: grid;
  width: 1000px;
  height: 500px;
  background-color: #ffffff;
  border: 2px solid #333;
  border-radius: 10px;
}

.input-limite {
  margin-left: 0.5em;
  margin-top: 0.5em;
  width: 150px;
  height: 40px;
  padding: 0.2em 1em;
  font-size: 0.8em;
  color:black;
  background-color: #ffffff;
  border: 1px solid #333;
  border-radius: 5px;
}

.input-limite::placeholder {
  color: #00000090;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
